@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Recursive:wght@300..1000&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

html {
    scroll-behavior: smooth; 
}

body {
    padding-top: 80px;
    background-color: #292b2c;
    background: url(../imgs/background.jpg);
}

/* ==================== BARRA DE NAVEGAÇÃO ==================== */
.nav-header {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 80px; 
    padding: 0 40px; 
    margin-inline: auto;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 2px 2px rgba(0,0,0,0);
    background-color: #292b2c;
    color: #f0f0f0;
    font-size: 20px;
    box-sizing: border-box; 
    z-index: 3;
}

.logo {
    margin-left: 0; 

    font-family: "Recursive", sans-serif;
    text-decoration: none;
    color: inherit; 
    font-size: 22px; 
    text-shadow: 2px 2px 4px #555555;
    transition: .3s;
}

.logo b:first-child {
    color: #00bfff;
}

.logo b:last-child {
    color: #6bed00;
}

.nav-list {
    display: flex;
    gap: 25px; 
    justify-content: center; 
    
    font-family: "Inter", sans-serif;
    list-style: none; 
}

.nav-list a {
    text-decoration: none; 
    color: #f0f0f0;
    text-shadow: 2px 2px 4px #555555;
    transition: .3s
}

.nav-list a:hover {
    color: #00bfff;
}

/* ===== MENU HAMBURGUER ===== */
.nav-toggle {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #f0f0f0;

    cursor: pointer; 
}

.nav-toggle::before,
.nav-toggle::after {
    content: " ";
    display: block;
    position: relative;
    margin-top: 5px;
    width: 30px;
    height: 3px;

    background: #f0f0f0;
    transition: .3s;
}

/* ===== Responsividade ===== */
@media (max-width: 750px) {
    /* === Menu modo Hamburguer === */
    .nav-toggle {
        display: block;
        z-index: 2; 
    }

    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        flex-direction: column;
        justify-content: space-around;
        width: 100vw;
        height: 40vh;
        gap: 0;
        align-items: center;

        background: #00bfff;
        clip-path: circle(20px at 90% -15%);
        transition: .5s ease-out;

        pointer-events: none; 
        z-index: 1; 
    }

    .nav-list a {
        font-size: 24px;
        opacity: 0; 
    }

    .nav-list li:nth-child(1) a {
        transition: 0.3s 0.1s;
    }

    .nav-list li:nth-child(2) a {
        transition: 0.3s 0.3s;
    }

    .nav-list li:nth-child(3) a { 
        transition: 0.3s 0.5s;
    }

    .nav-list li:nth-child(4) a {
        transition: 0.3s 0.7s;
    }

    /* === Menu modo Lista === */
    .nav.active .nav-list {
        clip-path: circle(900px at 90% -15%);
        pointer-events: all; 
    }

    .nav.active .nav-list a {
        opacity: 1; 
    }

    .nav.active .nav-toggle {
        position: fixed;
        top: 36px;
        right: 16px;
        border-top-color: transparent;
    }

    .nav.active .nav-toggle::before {
        transform: rotate(45deg);
    }

    .nav.active .nav-toggle::after {
        transform: rotate(-45deg);
        top: -8px;
    }
}
/* ============================================================ */

/* ==================== CONTATOS ==================== */
h1 {
    display: block;
    color: #f0f0f0;
    text-align: center;
    white-space: wrap;
    margin: 90px;
}

.redes-sociais {
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 80px auto;

    list-style: none;
    
}

.redes-sociais li {
    width: 100%;
    max-width: 350px;
    padding: 10px;
    
    background-color: #00bfff;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 2px 2px rgba(0,0,0,0);
    transition: transform .3s ease, box-shadow .3s ease;
}

.redes-sociais li:hover {
    transform: scale(1.01); /* levanta e dá um leve zoom */
    box-shadow: 0px 20px 25px -10px #000000, 10px 10px 5px 2px rgba(0,0,0,0.3);
}


.redes-sociais > li > a {
    display: flex;
    align-items: center;
    
    color: #f0f0f0;
    text-decoration: none;
    font-size: 30px;
    text-align: center;
    gap: 10px;
}

.scenery-logo {
    width: 84px;
    height: auto;
    filter: drop-shadow(1px 1px 3px rgba(0,0,0,.5));
}

i {
    color: #6bed00;
    filter: drop-shadow(1px 1px 3px rgba(0,0,0,.5));
}

/* ========== RODAPÉ ========== */
.site-footer {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
    margin-top: 40px;
    box-sizing: border-box;
    
    background-color: #00bfff;
    color: #f0f0f0;
    font-size: 15px;
    text-align: center;
    box-shadow: 0px 10px 13px 7px #000000;
}

/* Responsividade Contatos */
@media (max-width: 750px) {
    .redes-sociais li {
        max-width: 250px;
    }

    .site-footer {
        font-size: 10px;
    }
}